.navrow{
    margin-top: 0;
    padding-top: 0;
    float: right;
    background-color: aquamarine
}
.h1{
    float: left;
}
.h2{
    color: #4aaaa5;
    margin-bottom: 5px;
    border-bottom: gray 2px;
}